.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  height: 100%;
}

@media (min-width: 510px) {
  .NavigationItems {
    flex-flow: row;
    align-items: center;
  }
}
